{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <p class="text-gray-700">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p class="text-gray-700">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>
{% endblock %}
