{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10">
    <form method="post" action="{% url 'account_reset_password' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" id="email" placeholder="you@example.com" required>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Send Reset Instructions
            </button>
        </div>
    </form>
</div>
{% endblock %}
